@font-face {
    font-family: MonsterratVar;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

/*reset*/
body,nav,footer,div,p,a,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    border: 0;
}

/*general*/
p,h2,h3{
    color: white;
}

/*navigation bar*/


/*body*/
body{
    background-color: black;
}

/*footer*/
