@font-face {
    font-family: MonsterratVar;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

/*reset*/
body,nav,footer,img,div,p,a,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    border: 0;
}

/*general*/
p,h1,h2,h3,h4{
    color: white;
}
a{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

/*navigation bar*/


/*body*/
body{
    background-color: #00051a;
    font-family: MonsterratVar;
}

/*footer*/
